<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607826741866-v9ormcv6nosfjpkstbsc2ceoa0kfgmko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607826741866-v9ormcv6nosfjpkstbsc2ceoa0kfgmko</string>
	<key>API_KEY</key>
	<string>AIzaSyCvVNvDS1riJm41STNlDwMle60Kd_5U_I8</string>
	<key>GCM_SENDER_ID</key>
	<string>607826741866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bahrain-Polytechnic.SignIn</string>
	<key>PROJECT_ID</key>
	<string>polyfixit-e4aa1</string>
	<key>STORAGE_BUCKET</key>
	<string>polyfixit-e4aa1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607826741866:ios:d944200afbb037148b9813</string>
	<key>DATABASE_URL</key>
	<string>https://polyfixit-e4aa1-default-rtdb.firebaseio.com</string>
</dict>
</plist>